description      Calcul-Quebec Mesh

<administrator>
  name       Calcul-Quebec
  email      noc@calculquebec.ca
</administrator>

<organization>
  description    Calcul-Quebec

  <administrator>
    name       Calcul-Quebec
    email      noc@calculquebec.ca
  </administrator>

  <site>
    <location>
      city      Quebec
      state     Quebec
      country   Canada
      latitude  46.780652
      longitude -71.27507
    </location>

    <administrator>
      name       Florent Parent
      email      florent.parent@calculquebec.ca
    </administrator>

    <host>
      description    Univ. Laval
      address        bdw-ulaval.calculquebec.ca

      <measurement_archive>
        type        traceroute
        read_url    http://bdw-ulaval.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://bdw-ulaval.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/bwctl
        read_url    http://bdw-ulaval.calculquebec.ca:8085/perfSONAR_PS/services/pSB
        write_url   bdw-ulaval.calculquebec.ca:8569
      </measurement_archive>
    </host>
    <host>
      description    Univ. Laval
      address        lat-ulaval.calculquebec.ca

      <measurement_archive>
        type        traceroute
        read_url    http://lat-ulaval.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://lat-ulaval.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/owamp
        read_url    http://lat-ulaval.calculquebec.ca:8085/perfSONAR_PS/services/pSB
        write_url   lat-ulaval.calculquebec.ca:861
      </measurement_archive>

      <measurement_archive>
        type       pinger
        read_url   http://lat-ulaval.calculquebec.ca:8075/perfSONAR_PS/services/pinger/ma
        # No 'write_url' for PingER measurement archives
      </measurement_archive>
    </host>
  </site>

  <site>
    <location>
      city       Montreal
      state      Quebec
      country    Canada
      latitude   45.89
      longitude  -73.55
    </location>

    <administrator>
      name       Simon Nderitu
      email      simon.nderitu@calculquebec.ca
    </administrator>

    <host>
      description    McGill Univ.
      address        bdw-mcgill.calculquebec.ca

      <measurement_archive>
        type        traceroute
        read_url    http://bdw-mcgill.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://bdw-mcgill.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/bwctl
        read_url    http://bdw-mcgill.calculquebec.ca:8085/perfSONAR_PS/services/pSB
        write_url   bdw-mcgill.calculquebec.ca:8569
      </measurement_archive>
    </host>
    <host>
      description    McGill Univ.
      address        lat-mcgill.calculquebec.ca

      <measurement_archive>
        type        traceroute
        read_url    http://lat-mcgill.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://lat-mcgill.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/owamp
        read_url    http://lat-mcgill.calculquebec.ca:8085/perfSONAR_PS/services/pSB
        write_url   lat-mcgill.calculquebec.ca:861
      </measurement_archive>

      <measurement_archive>
        type       pinger
        read_url   http://lat-mcgill.calculquebec.ca:8075/perfSONAR_PS/services/pinger/ma
        # No 'write_url' for PingER measurement archives
      </measurement_archive>
    </host>
  </site>

  <site>
    <location>
      city       Montreal
      state      Quebec
      country    Canada
      latitude   45.5072989
      longitude  -73.6146463
    </location>

    <administrator>
      name       Francois Guertin
      email      francois.guertin@calculquebec.ca
    </administrator>

    <host>
      description    Univ. de Montreal
      address        bdw-umontreal.calculquebec.ca

      <measurement_archive>
        type        traceroute
        read_url    http://bdw-umontreal.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://bdw-umontreal.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/bwctl
        read_url    http://bdw-umontreal.calculquebec.ca:8085/perfSONAR_PS/services/pSB
        write_url   bdw-umontreal.calculquebec.ca:8569
      </measurement_archive>
    </host>
    <host>
      description    Univ. de Montreal
      address        lat-umontreal.calculquebec.ca

      <measurement_archive>
        type        traceroute
        read_url    http://lat-umontreal.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://lat-umontreal.calculquebec.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/owamp
        read_url    http://lat-umontreal.calculquebec.ca:8085/perfSONAR_PS/services/pSB
        write_url   lat-umontreal.calculquebec.ca:861
      </measurement_archive>

      <measurement_archive>
        type       pinger
        read_url   http://lat-umontreal.calculquebec.ca:8075/perfSONAR_PS/services/pinger/ma
        # No 'write_url' for PingER measurement archives
      </measurement_archive>
    </host>
  </site>

  <site>
    <location>
      city       Sherbrooke
      state      Quebec
      country    Canada
      latitude   45.4
      longitude  -71.9
    </location>

    <administrator>
      name       Jean-Francois Landry
      email      jflandry@ccs.usherbrooke.ca
    </administrator>

    <host>
      description    Univ. de Sherbrooke
      address        bdw-udes.ccs.usherbrooke.ca

      <measurement_archive>
        type        traceroute
        read_url    http://bdw-udes.ccs.usherbrooke.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://bdw-udes.ccs.usherbrooke.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/bwctl
        read_url    http://bdw-udes.ccs.usherbrooke.ca:8085/perfSONAR_PS/services/pSB
        write_url   bdw-udes.ccs.usherbrooke.ca:8569
      </measurement_archive>
    </host>
    <host>
      description    Univ. de Sherbrooke
      address        lat-udes.ccs.usherbrooke.ca

      <measurement_archive>
        type        traceroute
        read_url    http://lat-udes.ccs.usherbrooke.ca:8086/perfSONAR_PS/services/tracerouteMA
        write_url   http://lat-udes.ccs.usherbrooke.ca:8086/perfSONAR_PS/services/tracerouteCollector
      </measurement_archive>

      <measurement_archive>
        type        perfsonarbuoy/owamp
        read_url    http://lat-udes.ccs.usherbrooke.ca:8085/perfSONAR_PS/services/pSB
        write_url   lat-udes.ccs.usherbrooke.ca:861
      </measurement_archive>

      <measurement_archive>
        type       pinger
        read_url   http://lat-udes.ccs.usherbrooke.ca:8075/perfSONAR_PS/services/pinger/ma
        # No 'write_url' for PingER measurement archives
      </measurement_archive>
    </host>
  </site>
</organization>

<test_spec bwctl_4h_tcp_test>
  # Define a test spec for testing achievable bandwidth once every 4 hours

  type              perfsonarbuoy/bwctl  # Perform a bwctl test (i.e. achievable bandwidth)
  tool              bwctl/iperf          # Use 'iperf' to do the bandwidh test
  protocol          tcp                  # Run a TCP bandwidth test
  interval          14400                # Run the test every 4 hours
  duration          20                   # Perform a 20 second test
  force_bidirectional   1
</test_spec>

<test_spec owamp_test>
  # Define a test spec for doing jitter, loss and latency testing

  type              perfsonarbuoy/owamp  # Perform a constant low-bandwidth OWAMP test
  packet_interval   0.01                 # Send 10 packets every second (i.e. pause 0.1 seconds between each packet)
  loss_threshold    10                   # Wait no more than 10 seconds for a response
  session_count     18000                # Refresh the test every half hour (once every 18000 packets)
  sample_count      300                  # Send results back every 30 seconds (once every 300 packets)
  packet_padding    0                    # The size of the packets (not including the IP/UDP headers)
  bucket_width      0.001                # The granularity of the measurements
  force_bidirectional   1
</test_spec>

<test_spec ping_test>
  # Define a test spec for doing ICMP jitter, loss and latency testing every 5 minutes

  type              pinger               # Perform PingER tests
  test_interval     300                  # Perform a test every 5 minutes
  packet_count      10                   # Send 10 packets for each test
  packet_interval   1                    # Pause 1 second between each packet sent
  packet_size       1000                 # The size of the packets (not include the IP headers)
</test_spec>

<test_spec traceroute_test>
  # Define a test spec for running traceroute tests every 10 minutes

  type              traceroute           # Perform a traceroute test
  test_interval     600                  # Run the test every 5 minutes
  protocol          udp                  # Run a UDP traceroute (could also be 'icmp')
  timeout           30                   # Wait 30 seconds
  pause             0                    # Number of seconds to pause between each traceroute probe
  waittime          5                    # Number of seconds to wait for a response before assuming its lost
  first_ttl         0                    # The initial value for the TTL
  max_ttl           64                   # The maximum value for the TTL
  packet_size       40                   # The size of the packets (not include IP/UDP headers)
</test_spec>

# There can be one or more 'group' blocks. These contain a list of hosts that
# will be used in a test.
<group CQ_latency_hosts>
  # A group type 'mesh' means that all hosts in the list will test to all other
  # hosts in the list. The other available options is 'star' configuration
  # detailed below.
  type              mesh

  # The members contain a list of addresses that will be used in the tests.
  # These *must* correspond to addresses in host blocks above.
  member           lat-ulaval.calculquebec.ca
  member           lat-mcgill.calculquebec.ca
  member           lat-umontreal.calculquebec.ca
  member           lat-udes.ccs.usherbrooke.ca
</group>

<group CQ_bandwidth_hosts>
  type              mesh
  member           bdw-ulaval.calculquebec.ca
  member           bdw-mcgill.calculquebec.ca
  member           bdw-umontreal.calculquebec.ca
  member           bdw-udes.ccs.usherbrooke.ca
</group>

<test>
  description       TCP BWCTL Test Between CQ Bandwidth Hosts
  group             CQ_bandwidth_hosts
  test_spec         bwctl_4h_tcp_test
</test>

<test>
  description       OWAMP Test Between CQ Latency Hosts
  group             CQ_latency_hosts
  test_spec         owamp_test
</test>

<test>
  description       Ping Test Between CQ Latency Hosts
  group             CQ_latency_hosts
  test_spec         ping_test
</test>

<test>
  description       Traceroute Test Between CQ Bandwidth Hosts
  group             CQ_bandwidth_hosts
  test_spec         traceroute_test
</test>
